div {
    font-size: 40px;
    text-align: center;
    color: darkgreen;
}

.bg-green {
    background: darkseagreen;
    padding: 10px;
}

.bg-darkgreen {
    background: darkolivegreen;
}

.min-h-50 {
    min-height: 150px;
}

.h-50 {
    height: 50px;
}

.m-top-20 {
    margin-top: 20px;
}

.m-top-60 {
    margin-top: 225px;

}

.m-r-l-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.m-right-20 {
    margin-right: 20px;
}

.p

@media (max-width: 575px) {
    div {
        font-size: 20px;
    }

    div.wrap {
        flex-wrap: wrap;

    }
}
body{
    margin: 30px auto;
}